@import "../../assets/scss/rem";
#redLight {
    padding-top: st(200);
    background: url(../../assets/img/redLight/bg1.png) no-repeat left top;
    background-size: 100%;
    .redRule{
        background: #000;
    }
    .alertIn {
        .row {
            text-align: center;
        }
        .startGame {
            margin: 0 auto;
            width: st(290);
            height: st(80);
            background: #409eff;
            color: #fff;
            background: url(../../assets/img/redLight/start.png) no-repeat center;
            background-size: 100% 100%;
        }
    }
    .alertIn1{
        width: st(610);
        height: st(784);
        padding-top: st(200);
    }
    .alertInTwo {
        width: st(610);
        height: st(784);
        padding-top: st(200);
        .item {
            img {
                width: st(128);
                height: st(184);
            }
            .bottom {
                text-align: center;
            }
        }
        .select {
            background: #ffb3b3;
        }
        .start {
            margin: 0 auto st(20);
            width: 100%;
            height: st(100);
            background: #409eff;
            color: #fff;
        }
    }
    .gameRule {
        margin-top: st(50);
        padding-top: st(20);
        width: 100%;
        text-align: center;
        border-top: 2px solid #ccc;
    }
    .nowTime,
    .endTime {
        text-align: center;
    }
    .selectLight{
        padding: st(34) st(40);
    }
    .lightList{
        position: relative;
        background: url(../../assets/img/redLight/tree.png) no-repeat left bottom;
        -webkit-background-size: 100%;
        background-size: 100%;
        .cars{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: st(68);
            img{
                position: absolute;
                right: st(-150);
                bottom: 0;
            }
            .car1{
                width: st(148);
                animation: move 5s infinite linear;
            }
            .car2{
                width: st(150);
                animation: move 4s infinite linear;
            }
            .car3{
                width: st(136);
                animation: move 3s infinite linear;
            }
        }
        .item {
            width: st(200);
            .itemIn{
                width: 100%;
            }
            img{
                width: 100%;
            }
            .top {
                margin: 0 auto st(20);
                width: st(120);
                height: st(120);
                border-radius: 50%;
                img{
                    width: 100%;
                }
            }
            .bottom {
                text-align: center;
            }
            .red {
                background: red;
            }
            .green {
                background: green;
            }
            .yellow{
                background: yellow;
            }
            p{
                text-align: center;
                margin-bottom: st(20);
                margin-top: st(20);
                word-break:break-all;
            }
        }
    }
    .lightList2{
        padding-top: st(30);
        height: st(296);
        background: url(../../assets/img/redLight/road.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .message{
        padding: st(10) 0;
        background: #000;
    }
    .redColor{
        color: red;
    }
    .greenColor{
        color: green;
    }
}
@keyframes move{
    0{
        transform: translateX(0)
    }
    100%{
        transform: translateX(st(-900))
    }
}