@import "../../assets/scss/rem";
#layout {
    margin: 0 auto;
    width: st(750);
    position: relative;
}
.footer-wrapper{
    height: st(100);
}
#bottomBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: st(750);
    height: st(100);
    background: #ffffff;
    .bottomBar-item {
        width: 50%;
        height: 100%;
        text-align: center;
        border-top: 1px solid #f0f1f2;
        font-size: st(28);
        color: #337ab7;
        p {
            width: 100%;
        }
        .icon{
            height: st(50);
            i{
                font-size: st(50);
            }
        }
        .txt{
            height: st(50);
            line-height: st(50);
        }
    }
    .high {
        display: none;
    }
    .gray {
        display: inline-block;
    }
    .router-link-active {
        color: #d0ac76;
    }
}

