@import "../../assets/scss/rem";
#login{
    background: #efefef;
    .content{
        top: 0;
        bottom: 40px;
        h3{
            width: 100%;
            height: 60px;
            text-align: center;
            font-size: 20px;
            color: #666666;
            line-height: 60px;
            font-weight: 400;
        }
        .list{
            width: 100%;
            padding: 0 15px;
            margin-bottom: 27px;
            .border-item{
                width: 100%;
                padding: 9px 0 9px 18px;
                background: #fff;
                margin-bottom: 1px;
                i{
                    font-size: 25px;
                    color: #ff740d;
                    line-height: 34px;
                    margin-right: 12px;
                }
                input{
                    border: 0;
                    outline: none;
                    display: block;
                    padding-left: 0;
                    height: 34px;
                    color: #111;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 34px;
                }
                input::-webkit-input-placeholder{
                    color: #d2d2d2;
                    font-size: 15px;
                }
            }
            label:nth-child(2){
                position: relative;
                .get-code{
                    position: absolute;
                    top: 15px;
                    width: 100px;
                    height: 25px;
                    right: 5px;
                    z-index: 2;
                    line-height: 25px;
                    text-align: center;
                    border-left: 1px solid #dddddd;
                    color: #ff740d;
                    font-size: 13px;
                    background: #ffffff;
                }
                .get-code-gray{
                    border-left: 1px solid #ddd;
                    color: #cecece;
                }
            }
        }
        .button{
            width: 100%;
            padding: 0 15px;
            .login{
                width: 100%;
                height: 40px;
                border: none;
                font-size: 16px;
                color: #ffffff;
                border-radius: 5px;
                background: #E62E36;
            }
        }
        .fu{
            margin-top: 22px;
            padding: 0 15px;
            width: 100%;
            height: 20px;
            .item{
                width: 50%;
                height: 100%;
                color: #666666;
                font-size: 12px;
                img{
                    width: st(48);
                    margin-right: st(20);
                }
            }
            a{
                text-align: right;
            }
        }
    }
    .bottom-button{
        position: absolute;
        line-height: 40px;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: #ffffff;
        text-align: center;
        font-size: 16px;
        color: #666666;
    }
    .mint-popup {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .sever-alert{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: st(80);
        background: #00a8ff;
        text-align: center;
        line-height: st(80);
        color: #fff;
        font-size: st(32);
    }
    .server-main{
        position: absolute;
        top: st(80);
        bottom: st(80);
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        margin: auto;
        overflow-y: auto;
        text-align: center;
    }
    .server-bottom{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: st(80);
        background: #00a8ff;
        text-align: center;
        line-height: st(80);
        color: #fff;
        font-size: st(32);
    }
}