#register{
    background: #efefef;
    .content{
        top: 0;
        bottom: 40px;
        h3{
            width: 100%;
            height: 60px;
            text-align: center;
            font-size: 20px;
            color: #666666;
            line-height: 60px;
            font-weight: 400;
        }
        .list{
            width: 100%;
            padding: 0 15px;
            margin-bottom: 27px;
            .border-item{
                width: 100%;
                padding: 9px 0 9px 18px;
                background: #fff;
                margin-bottom: 1px;
                i{
                    font-size: 25px;
                    color: #ff740d;
                    line-height: 34px;
                    margin-right: 12px;
                }
                input{
                    border: 0;
                    outline: none;
                    display: block;
                    padding-left: 0;
                    height: 34px;
                    color: #111;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 34px;
                }
                input::-webkit-input-placeholder{
                    color: #d2d2d2;
                    font-size: 15px;
                }
            }
            label:nth-child(2){
                position: relative;
                .get-code{
                    position: absolute;
                    top: 15px;
                    width: 100px;
                    height: 25px;
                    right: 5px;
                    z-index: 2;
                    line-height: 25px;
                    text-align: center;
                    border-left: 1px solid #dddddd;
                    color: #ff740d;
                    font-size: 13px;
                    background: #ffffff;
                }
                .get-code-gray{
                    border-left: 1px solid #ddd;
                    color: #cecece;
                }
            }
        }
        .button{
            width: 100%;
            padding: 0 15px;
            .login{
                width: 100%;
                height: 40px;
                border: none;
                font-size: 16px;
                color: #ffffff;
                border-radius: 5px;
                background: #E62E36;
            }
        }
        .fu{
            margin-top: 22px;
            padding: 0 15px;
            width: 100%;
            height: 20px;
            .item{
                display: block;
                width: 50%;
                height: 100%;
                color: #666666;
                font-size: 12px;
                .my-choekbox{
                    position: relative;
                    width: 20px;
                    height: 20px;
                    -webkit-appearance: none;
                    outline: none;
                }
                .my-choekbox::before{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    background: #fff;
                }
                .my-choekbox::after{
                    content: '';
                    position: absolute;
                    top: 26%;
                    left: 26%;
                    display: block;
                    width: 14px;
                    height: 6px;
                    border-left: 1px solid #ff740d;
                    border-bottom: 1px solid #ff740d;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    opacity: 0;
                }
                .my-choekbox:checked:after{
                    opacity: 1;
                }
            }
            a{
                text-align: right;
            }
        }
    }
}