@import "../../assets/scss/rem";
#goAppeal{
    top: 0;
    bottom: 0;
    background: #fff;
    padding-bottom: st(98);
    .content{
        top: 0;
        bottom: st(98);
    }
    .prizeRecords{
        padding-left: st(38);
        padding-right: st(26);
        width: 100%;
        height: auto;
        .first{
            padding-left: st(20);
            padding-right: st(20);
            line-height: st(50);
            font-size: st(24);
        }
        li{
            position: relative;
            padding: st(26) 0;
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid #d8d8d8;
        }
        .selectThis{
            background: #f4f6f8;
        }
        .left{
            width: st(170);
            height: st(140);
        }
        .left-in{
            position: relative;
            width: st(140);
            height: st(140);
            border-radius: st(20);
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .middle{
            width: st(560);
            height: st(140);
            .top{
                width: st(440);
                height: st(62);
                font-size: st(28);
                color: #333;
            }
            .mp-row{
                width: 100%;
                height: st(24);
                font-size: st(24);
                margin-bottom: st(20);
            }
        }
        .right{
            position: absolute;
            right: 0;
            top: 0;
            width: st(88);
            height: 100%;
            img{
                position: absolute;
                top: st(70);
                width: st(48);
            }
        }
    }
    .playRechods-bottom{
        width: 100%;
        height: st(98);
        border-top: 1px solid #d8d8d8;
        text-align: center;
        background: #fff;
        button{
            width: st(672);
            height: st(80);
            background: #ff5b88;
            border-radius: st(20);
            text-align: center;
            font-size: st(28);
            border: 0;
            color: #FFF;
        }
        .gray{
            background: #bababa;
        }
    }
}
