@import "../../assets/scss/rem";

#result{
    .content{
        width: 100%;
    }
    .img-wrapper{
        margin-top: st(90);
        width: st(248);
        height: st(228);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .pay-result{
        width: 100%;
        height: st(182);
        text-align: center;
        line-height: st(140);
        font-size: st(40);
        color: #fff;
        font-weight: 600;
    }
    .message{
        position: relative;
        padding-left: st(208);
        padding-right: st(30);
        width: st(602);
        height: st(120);
        line-height: st(110);
        font-size: st(32);
        color: #fff;
        text-align: center;
        background: url(../../assets/img/recharge/success_circle.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        .user-head{
            position: absolute;
            top: st(-20);
            left: st(60);
            width: st(150);
            height: st(150);
            border: 3px solid #a85de2;
            background: #a85de2;
            border-radius: 50%;
        }
        .inin{
            width: st(280);
            height: st(52);
        }
    }
    .btn{
        margin-top: st(46);
        width: st(390);
        height: st(116);
        text-align: center;
        line-height: st(116);
        font-size: st(36);
        font-weight: 600;
        color: #fff;
        background: url(../../assets/img/recharge/recharge_btn_L.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .none{
        display: none!important;
    }
}
