@import "../../assets/scss/rem";
#active {
    position: relative;
    .allbg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: st(750);
    }
    .content{
        position: relative;
        z-index: 10;
    }
    .active-top {
        position: relative;
        width: 100%;
        height: st(730);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .active-txt{
        position: absolute;
        left: 0;
        top: 0;
        padding: st(548) st(56) 0;
        width: 100%;
        height: 100%;
        color: #ffe4b8;
    }
    .activeIng{
        color: #ff4c4c;
        font-size: st(44);
    }
    .active-tit{
        width: 100%;
        height: auto;
        .active-tit-top{
            position: relative;
            margin: auto;
            padding: 0 st(16);
            line-height: st(118);
            color: #966400;
            font-size: st(36);
            font-weight: 600;
            background: no-repeat center;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            p{
                width: 85%;
                height: 100%;
                text-align: center;
            }
            img{
                position: absolute;
                top: st(12);
                right: st(8);
                width: st(94);
                height: st(94);
            }
        }
        .active-tit-top0{
            width: st(502);
            height: st(150);
            background-image: url(../../assets/img/active/button.png);
        }
        .active-tit-top1{
            width: st(698);
            height: st(146);
            background-image: url(../../assets/img/active/charts2.png) ;
        }
    }
    .active-main{
        width: 100%;
        padding: st(24) st(32) st(36);
        background: #fcedea;
        .active-main-top{
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }
    }
    .active-main1{
        .active-main-top{
            height: st(42);
            background-image: url(../../assets/img/active/charts3.png);
        }
    }
    .active-main2{
        .active-main-top{
            padding-top: st(62);
            height: st(104);
            background-image: url(../../assets/img/active/charts.png);
        }
    }
    .active-main3{
        position: relative;
        bottom: st(18);
        .active-main-top{
            position: relative;
            top: st(18);
            padding: st(62) st(32) 0;
            height: st(104);
            background-image: url(../../assets/img/active/charts.png);
        }
        .active-main-bottom1{
            width: 100%;
            height: st(230);
            padding: st(10) 0;
            background: #fff;
            text-align: center;
            border-bottom-left-radius: st(20);
            border-bottom-right-radius: st(20);
            font-weight: 600;
        }
        .color-start{
            color: #ffe8d9;
            font-size: st(72);
        }
        .color-shenhe{
            color: #ffe8d9;
            font-size: st(46);
        }
        
    }
    .table-tit-row{
        width: 100%;
        height: 100%;
        line-height: st(48);
        color: #fff5ee;
        font-size: st(24);
        .table-col1{
            width: st(130);
        }
        .table-col2{
            width: st(202);
        }
        .table-col3{
            width: st(180);
        }
        .table-col4{
            width: st(216);
        }
    }
    .active-main-bottom1{
        width: 100%;
        padding-top: st(10);
    }
    .table-row{
        width: 100%;
        height: st(76);
        margin-bottom: st(10);
        font-size: st(26);
        font-weight: 600;
        .table-col1{
            width: st(96);
            height: 100%;
            line-height: st(82);
        }
        .table-col2{
            width: st(234);
            height: 100%;
            line-height: st(82);
        }
        .table-col3{
            width: st(140);
            height: 100%;
            line-height: st(82);
        }
        .table-col4{
            width: st(218);
            height: 100%;
            line-height: st(82);
        }
    }
    .bg1{
        background: #ffe212;
        color: #ff6464;
    }
    .bg2{
        background: #ffe97b;
        color: #ff7212;
    }
    .bg3{
        background: #ffe7ab;
        color: #e0922b;
    }
    .bg4{
        background: #fff;
        color: #af9d80;
    }
    .bg5{
        background: #ff8585;
        color: #fff;
    }
    .first-bg{
        padding-top: st(4);
        background: url(../../assets/img/active/crown.png) no-repeat center;
        -webkit-background-size: st(48) st(48);
        background-size: st(48) st(48);
        color: #fff;
    }
    .prize-hz{
        width: 100%;
        padding: st(28) 0 0;
        text-align: center;
        color: #999;
        font-size: st(24);
    }
    .my-grade{
        margin-top: st(20);
    }
    .is-win{
        width: st(532);
        height: st(96);
        margin: st(20) auto 0;
        text-align: center;
        line-height: st(96);
        font-weight: 600;
        background: url(../../assets/img/active/button2.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        color: #ff6464;
        font-size: st(36);
    }
    .no-win{
        margin-top: st(20);
        width: 100%;
        height: st(30);
        text-align: center;
        line-height: st(30);
        color: #ffa780;
        font-size: st(24);
    }
    .br{
        border-radius: st(10);
    }
    .text-align-c{
        text-align: center;
    }
    .active-rule-bg{
        width: 100%;
        height: st(156);
        background: #fcedea url(../../assets/img/spring/active/explain_bg.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .active-rule{
        width: 100%;
        padding: 0 0 st(72);
        background: #ef4634;
    }
    .active-rule-tit{
        width: 100%;
        margin-bottom: st(38);
        padding: 0 st(32);
        img{
            width: st(194);
        }
    }
    .active-rule-content{
        width: 100%;
        padding: 0 st(48) 0 st(78);
        color: #fff;
        font-size: st(26);
        line-height: st(48);
        ol{
            list-style-type: decimal;
            list-style-position: outside;
        }
    }
    .active-alert-content{
        position: relative;
        width: st(580);
        background: #fff;
        border-radius: st(20);
        .wj-messageBox-close{
            position: absolute;
            top: st(-102);
            z-index: 10;
            right: st(2);
            width: st(52);
        }
        .top-img{
            width: st(580);
            height: st(168);
            position: absolute;
            top: st(-82);
        }
        .active-alert-tit{
            padding-top: st(102);
            padding-bottom: st(24);
            font-size: st(32);
            font-weight: 600;
            color: #333;
        }
        .active-alert-prize{
            width: st(340);
            height: st(340);
            padding: st(30);
            margin-bottom: st(16);
            border-radius: st(16);
            border: 1px solid #fff5ee;
            img{
                width: 100%;
            }
        }
        .subButton{
            margin-bottom: st(36);
            width: st(502);
            height: st(80);
            border-radius: st(16);
            background: #ff4c4c;
            color: #fff;
        }
    }
}