@import "../../assets/scss/rem";
#sureOrder {
    .mb {
        margin-bottom: st(20);
    }
    .product {
        padding: st(20);
        width: 100%;
        background: #fff;
        .left {
            width: st(260);
            height: st(260);
            background: #f2f2f2;
            img {
                max-width: st(260);
                max-height: st(260);
            }
        }
        .right {
            padding-left: st(30);
            width: st(450);
            .top {
                height: 80%;
            }
        }
    }
    .buyNum {
        padding: 0 st(20);
        width: 100%;
        height: st(120);
        background: #fff;
        input {
            border: none;
            width: st(80);
            height: st(60);
            text-align: center;
        }
        .down {
            width: st(60);
            height: st(60);
            background: #f0f0f1;
            text-align: center;
            line-height: st(60);
        }
    }
    .sendType {
        position: relative;
        padding: 0 st(20);
        width: 100%;
        background: #fff;
        .one {
            padding-top: st(20);
            padding-bottom: st(20);
            border-bottom: 1px solid #ccc;
        }
        .two {
            padding-top: st(20);
            padding-bottom: st(20);
            padding-right: st(50);
        }
        .three {
            padding-top: st(20);
            padding-bottom: st(20);
            padding-right: st(50);
        }
        .jiantou {
            position: absolute;
            right: st(20);
            bottom: st(40);
            width: st(40);
            height: st(120);
            line-height: st(120);
            text-align: center;
        }
    }
    .getServer {
        width: 100%;
        padding: st(20);
        text-align: center;
        background: #fff;
    }
    .allMount{
        background: #fff;
        padding: st(20);
    }
    .bottomTabIn{
        padding: st(20);
        .buy{
            width: st(200);
            height: st(80);
            background: #ff0000;
            color: #fff;
            border-radius: st(80);
        }
    }
    .alertOne{
        width: 100%;
        padding-top: st(30);
        input{
            padding: 0 st(20);
            width: 100%;
            height: st(80);
            border:1px solid #ccc;
            border-radius: st(10);
        }
    }
    
}