@import "../../../assets/scss/rem";
#getTicket{
    h2{
        width: 100%;
        height: st(342);
        color: #fff;
        font-size: st(40);
        font-weight: 600;
        text-align: center;
        line-height: st(210);
        background: #ff8090;
    }
    .ticket{
        margin: st(-182) auto st(24);
        padding-top: st(34);
        padding-bottom: st(28);
        width: st(660);
        background: #fff;
        border: st(6) solid #ffe1c0;
        border-radius: st(22);
    }
    .ticket-name{
        padding-bottom: st(10);
        width: 100%;
        text-align: center;
        line-height: st(94);
        color: #ff6e85;
        font-size: st(36);
        font-weight: 600;
    }
    .ticket-code{
        margin: 0 auto;
        width: st(534);
        height: st(92);
        border: st(8) solid #ffe1c0;
        border-radius: st(108);
        color: #ff6e85;
        font-size: st(32);
        font-weight: 600;
        text-align: center;
        line-height: st(76);
        background: #ffe9f0;
    }
    .ticket-btn{
        margin: st(30) auto 0;
        display: block;
        border: none;
        width: st(302);
        height: st(132);
        text-align: center;
        line-height: st(116);
        color: #835d11;
        font-size: st(40);
        font-weight: 600;
        background: url(../../../assets/img/alert/pop_btn.png) no-repeat center;
        background-size: contain;
    }
    .bottom-tit{
        margin: 0 auto;
        width: st(652);
        height: st(118);
        line-height: st(118);
        color: #fff;
        font-size: st(36);
        font-weight: 600;
        text-align: center;
        background: url(../../../assets/img/gzh/title.png) no-repeat center;
        background-size: contain;
    }
    .bottom-border{
        margin: 0 auto;
        padding: st(28) st(36);
        width: st(660);
        border: st(6) solid #ffe1c0;
        border-radius: st(22);
        background: #ffe9f0;
    }
    .one{
        margin: st(20) auto;
        width: st(652);
        color: #ff6e85;
        font-size: st(30);
        font-weight: 600;
    }
}