@import "../../assets/scss/rem";
#springNotice{
    .springNotice-banner{
        width: st(750);
        img{
            width: 100%;
            vertical-align: bottom;
        }
    }
    .springNotice-txt{
        padding: st(44) st(50) 0;
        width: 100%;
        font-size: st(26);
        color: #666;
        line-height: st(40);
    }
    .springNotice-tit{
        padding: st(30) st(50) st(28);
        width: 100%;
        font-size: st(30);
        color: #ba5050;
    }
    .img-wrapper{
        width: 100%;
        text-align: center;
        img{
            width: st(660);
        }
    }
    .remark{
        padding: 0 st(50);
        width: 100%;
        color: #c69e9e;
        font-size: st(24);
    }
    .springNotice-sever{
        padding: 0 st(50);
        width: 100%;
        color: #666;
        font-size: st(26);
        text-indent: st(44);
    }
    .bottom{
        padding: 0 st(50) st(100);
        padding-left: st(100);
        width: 100%;
        color: #ba5050;
        font-size: st(26);
        font-weight: 600;
    }
}
