@import "../../assets/scss/rem";
#home {
    overflow: hidden;
    .rooms {
        width: 100%;
        height: auto;
    }
    .home-list {
        width: 100%;
        height: auto;
        .home-item {
            margin-bottom: st(22);
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .qipao {
        position: absolute;
        top: st(300);
        left: 0;
        z-index: 10;
        padding-top: st(20);
        width: 100%;
        height: st(100);
        overflow-x: hidden;
    }
}