@import "../../assets/scss/rem";
.qipao {
    position: absolute;
    top: st(300);
    left: 0;
    z-index: 10;
    padding-top: st(20);
    width: 100%;
    height: st(100);
    overflow-x: hidden;
}
.qipao-in {
    width: 100%;
    line-height: st(60);
    text-align: center;
    color: #fff;
    font-size: st(24);
}
.qipao-message {
    animation: qipao 10s 1 linear;
    position: relative;
    img{
        position: absolute;
        left: 0;
        width: st(88);
        height: st(88);
    }
    span{
        display: inline-block;
        margin-left: st(30);
        padding-left: st(88);
        padding-right: st(30);
        height: st(56);
        line-height: st(56);
        background: #ff7b82;
        border-bottom-right-radius: st(56);
        border-top-right-radius: st(56);
        border: 1px solid #f3d51c;
    }
}
@keyframes qipao {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
