@import "../../assets/scss/rem";
#noticeSend{
    .top-banner{
        width: 100%;
        height: st(260);
        img{
            width: 100%;
            height: 100%;
            vertical-align: bottom;
        }
    }
    .main{
        margin: st(64) auto 0;
        padding: st(6);
        width: st(650);
        border: 1px solid #074da0;
        border-radius: st(38);
        background: #e1eaff;
    }
    .main-in{
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #074da0;
        border-radius: st(32);
        background: #fafcff;
        span{
            position: absolute;
            top: st(-34);
            left: st(30);
            img{
                width: st(68);
                height: st(70);
            }
        }
        p{
            padding: st(42) st(70) st(24);
            width: 100%;
            height: 100%;
            color: #444;
            font-size: st(26);
            line-height: st(48);
        }
    }
}