@import "../../assets/scss/rem";
#getMoney{
    .item{
        background: #fff;
        width: 100%;
        padding: st(20);
        .top{
            margin-bottom: st(20);
            color: #333;
        }
        .green{
            color: #aeaeae;
        }
        .bottom{
            input{
                padding: st(10);
                width: 100%;
                border: 1px solid #ccc;
            }
            button{
                margin-left: st(10);
                width: st(300);
                border: none;
                background: #409eff;
                color: #fff;
                border-radius: st(8);
            }
        }
    }
    .card{
        position: relative;
        padding-right: st(34);
        width: 100%;
        background: #fff;
        .name-num{
            width: 90%;
            height: auto;
            font-size: st(28);
            .name{
                font-weight: 600;
            }
        }
        .name{
            padding-right: st(74);
        }
        .all-addr{
            padding-bottom: st(26);
            width: 90%;
            height: auto;
            font-size: st(26);
            font-weight: 600;
        }
        .right{
            position: absolute;
            right: st(34);
            top: 0;
            width: st(48);
            height: 100%;
            img{
                width: st(28);
            }
        }
    }
    .goCharge{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .alertOne{
        width: 100%;
        padding-top: st(30);
        input{
            padding: 0 st(20);
            width: 100%;
            height: st(80);
            border:1px solid #ccc;
            border-radius: st(10);
        }
    }
    .alertIn{
        width: 100%;
        height: st(700);
        overflow: auto;
        position: relative;
        .title{
            position: absolute;
            left: 0;
            top: 0;
            background: #fff;
            width: 100%;
            text-align: center;
        }
    }
}