@import "../../assets/scss/rem";
#receiveAddress{
    top: 0;
    bottom: 0;
    background: #fff;
    padding-bottom: st(98);
    .content{
        top: 0;
        bottom: st(98);
    }
    .myAddress{
        width: 100%;
        height: auto;
        padding-left: st(40);
        padding-right: st(34);
        li{
            position: relative;
            padding-top: st(46);
            padding-bottom: st(48);
            width: 100%;
//          border-bottom: 1px solid #d8d8d8;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-bottom: 1px solid #d8d8d8;
                width: 200%;
                height: 200%;
                -webkit-transform: scale(0.5);
                -ms-transform: scale(0.5);
                -o-transform: scale(0.5);
                transform: scale(0.5);
                -webkit-transform-origin: left top;
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                transform-origin: left top;
            }
            p{
                position: relative;
                z-index: 10;
            }
            .name-num{
                width: 90%;
                height: auto;
                font-size: st(28);
                font-weight: 600;
            }
            .name{
                padding-right: st(74);
            }
            .all-addr{
                padding-bottom: st(26);
                width: 90%;
                height: auto;
                font-size: st(26);
                font-weight: 600;
            }
            .default-addr{
                width: 100%;
                height: st(52);
                line-height: st(52);
                img{
                    margin-right: st(14);
                    width: st(48);
                }
                span{
                    color: #7e8b9e;
                    font-size: st(24);
                }
            }
            .my-addr-buttons{
                position: absolute;
                z-index: 10;
                right: 0;
                bottom: st(42);
                width: st(248);
                height: st(66);
                button{
                    width: st(116);
                    height: 100%;
                    color: #7e8b9e;
                    border: 0;
//                  border: 1px solid #d8d8d8;
                    border-radius: st(18);
                    font-size: st(24);
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px solid #d8d8d8;
                        border-radius: st(18);
                        width: 200%;
                        height: 200%;
                        -webkit-transform: scale(0.5);
                        -ms-transform: scale(0.5);
                        -o-transform: scale(0.5);
                        transform: scale(0.5);
                        -webkit-transform-origin: left top;
                        -moz-transform-origin: left top;
                        -ms-transform-origin: left top;
                        transform-origin: left top;
                    }
                }
            }
            .right{
                position: absolute;
                right: 0;
                top: 0;
                width: st(48);
                height: 100%;
                img{
                    width: st(28);
                }
            }
        }
    }
    .duihuan-alert{
        padding-bottom: st(40);
        width: st(606);
        background: #fff;
        border-radius: st(20);
        p{
            width: 100%;
            padding: st(90) st(52) st(78);
            font-size: st(28);
            span{
                color: #ff5b88;
            }
        }
        .buttons{
            width: 100%;
            height: st(90);
            button{
                width: st(234);
                height: st(82);
                border: 0;
                color: #fff;
                border-radius: st(10);
            }
            .no{
                background: #c1cbda;
                margin-right: st(32);
            }
            .yes{
                background: #ff5b88;
            }
        }
    }
    .receiveAddress-bottom{
        width: 100%;
        height: st(100);
//      border-top: 1px solid #d8d8d8;
        &:after {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            border-top: 1px solid #d8d8d8;
            width: 200%;
            height: 200%;
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transform-origin: left top;
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            transform-origin: left top;
        }
        button{
            position: relative;
            z-index: 10;
            width: st(672);
            height: st(84);
            background: #ff5b88;
            border-radius: st(20);
            text-align: center;
            font-size: st(28);
            border: 0;
            color: #FFF;
        }
    }
}
