@import './vars';
html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  color: $main-black;
}

a {
  text-decoration: none
}

.no-controls{
  // 隐藏video标签控制按钮
  ::-webkit-media-controls-enclosure{
    display: none;
  }
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background:rgba(0,0,0,.2);
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
