$main-white: #fff;
$main-black: #000;
$main-white-o4: rgba(255, 255, 255, .4);
$main-white-o6: rgba(255, 255, 255, .6);
$main-purple: #977df1;
$main-blue: #4FC8FB;
$main-pink: #FE5B85;
$main-green: rgb(92, 213, 125);
$sun-yellow: rgb(255, 204, 42);
$shadow-black: rgba(0, 0, 0, 0.2);

@mixin text-overflow($n){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
  overflow: hidden;
  word-wrap: break-word;
}
