@import "../../assets/scss/rem";
.items {
    padding: st(30);
    border-top: 1px solid #f2f2f2;
    background: #fff;
    .img {
        position: relative;
        margin: 0 auto;
        width: st(250);
        height: st(250);
        padding: st(6);
        img {
            width: 100%;
            height: 100%;
        }
        .item-tip{
            position: absolute;
            left: 0;
            top: 0;
            background: #f6376d;
            color: #fff;
            padding: st(10);
            border-radius: st(10);
        }
    }
    .right{
        margin-left: st(20);
        width: st(400);
        .name{
            display: -webkit-box;    
            -webkit-box-orient: vertical;    
            -webkit-line-clamp: 2;    
            overflow: hidden;
        }
        .item-send{
            margin: st(30) 0;
            width: 100%;
            height: st(60);
            line-height: st(60);
            color: #ffb400;
        }
        .buy{
            padding: st(15) st(30);
            color: #f6376d;
            border-radius: st(16);
            border: 1px solid #f6376d;
        }
    }
}