@import "../../assets/scss/rem";
#shopping {
    .tab{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .qipao{
        position: fixed;
        top: 38px;
        left: 0;
        z-index: 10;
        padding-top: st(20);
        width: 100%;
        height: st(100);
        background: #f2f2f2;
    }
    .list{
        margin-top: st(200);
        padding: 0 st(20) st(20);
        width: 100%;
        height: auto;
        .item{
            float: left;
            margin-right: st(40);
            margin-bottom: st(20);
            width: 100%;
        }
        .mr0{
            margin-right: 0;
        }
    }
}