@import "../../assets/scss/rem";
#scroller {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.wj-messageBox-close {
    position: absolute;
    top: -38px;
    right: 2px;
    width: 26px;
}
.rooms{
    width: 100%;
}
.video-list {
    width: 100%;
    .video-item{
        position: relative;
        padding: st(20) st(44);
        .img{
            margin-right: st(20);
            width: st(90);
            height: st(90);
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .name{
            width: st(330);
            color: #ff5a76;
        }
        .right{
            position: absolute;
            right: st(30);
            img{
                width: st(24);
            }
        }
    }
}
