@import "../../assets/scss/rem";
#topRoom{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 40;
    width: st(686);
    height: st(300);
    background: url(../assets/bxmimg/toproom_bg.png) repeat-x left top;
    background-size: st(8) st(300);
    .close{
        position: absolute;
        top: st(20);
        right: st(16);
        width: st(48)
    }
    .top-tip{
        width: 100%;
        height: st(84);
        text-indent: st(30);
        color: #fff;
        font-size: st(26);
        line-height: st(84);
    }
    .rooms{
        width: 100%;
        .rooms-item{
            float: left;
            margin-left: st(30);
            width: st(188);
            height: st(188);
            border: st(4) solid #f05b7c;
            border-radius: st(28);
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}