@import "../../assets/scss/rem";
.font-small {
    font-size: 12px;
}

.play-content{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    width: 100%;
    height: auto;
    margin: auto;
}

.play-video {
    position: relative;
    padding: 0 st(20) st(20);
    padding-top: 0;
    width: 100%;
    height: st(730);
    .timer {
        position: absolute;
        left: st(40);
        bottom: st(-70);
        z-index: 100;
        width: st(100);
        text-align: center;
        line-height: st(100);
        font-size: st(86);
        font-weight: 600;
        color: #fff;
        border-radius: st(16);
        text-shadow: #000 0 0 st(8);
    }
    .p-num {
        position: absolute;
        top: st(14);
        right: st(40);
        z-index: 15;
        padding-left: st(58);
        width: st(196);
        height: st(56);
        line-height: st(56);
        text-align: center;
        background: url(../assets/bxmimg/room_spectator.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
    }
    .canvas-box {
        position: relative;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid #dd2a00;
        border-left: 3px solid #dd2a00;
        border-right: 3px solid #dd2a00;
        border-bottom-left-radius: st(22);
        border-bottom-right-radius: st(22);
        background: #ff99a8 url(../assets/bxmimg/load.gif) no-repeat center;
        background-size: st(312) st(312);
        overflow: hidden;
        canvas {
            width: 100%;
            height: 100%;
            position: relative;
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            border-bottom-left-radius: st(22);
            border-bottom-right-radius: st(22);
        }
    }
    .bottom-btns {
        position: absolute;
        bottom: st(-46);
        right: st(40);
        z-index: 101;
        .btn-music,
        .btn-switch {
            text-align: center;
            position: relative;
            width: st(76);
            height: st(76);
            margin-left: st(20);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.play-control-box{
    position: fixed;
    top: st(730);
    bottom: st(24);
    left: st(20);
    right: st(20);
    width: auto;
    height: auto;
    margin: auto;
    background: url(../assets/bxmimg/room_chat_bg.png) no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.play-control {
    position: relative;
    width: 100%;
    height: st(236);
    .press {
        background: url(../assets/bxmimg/game_btn_press.png);
    }
    .pressup {
        background: url(../assets/bxmimg/game_btn.png);
    }
    .press1 {
        background: url(../assets/bxmimg/game_btn2_press.png);
        border-radius: 50%;
    }
    .pressup1 {
        background: url(../assets/bxmimg/game_btn2.png);
        border-radius: 50%;
    }
    .direction-up {
        position: absolute;
        top: 0;
        left: st(180);
    }
    .direction-down {
        position: absolute;
        left: st(180);
        top: st(136);
    }
    .direction-left {
        position: absolute;
        top: st(66);
        left: st(80);
    }
    .direction-right {
        position: absolute;
        top: st(66);
        left: st(280);
    }
    .btn>div {
        display: block;
        width: st(100);
        height: st(100);
        cursor: pointer;
        background-size: 100% 100%;
        color: #a0561f;
        text-align: center;
        line-height: st(100);
        i{
            font-size: 16px;
            color: #fff;
        }
    }
    .zhua{
        position: absolute;
        right: st(72);
        top: st(10);
        float: left;
        width: 108px;
        height: 108px;
        .catch {
            position: absolute;
            left: 6px;
            top: 6px;
            z-index: 99;
            width: 96px;
            height: 96px;
            border-radius: 50%;
            div {
                width: 96px;
                height: 96px;
            }
        }
        .huan{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            .yuandi-wl {
                position: absolute;
                width: 108px;
                height: 108px;
                clip: rect(0, 54px, 108px, 0);
                .yuandi {
                    position: absolute;
                    width: 108px;
                    height: 108px;
                    background: #fff250;
                    border-radius: 50%;
                    clip: rect(0, 54px, 108px, 0);
                }
            }
            .yuandi-wr {
                position: absolute;
                width: 108px;
                height: 108px;
                clip: rect(0, 108px, 108px, 54px);
                .yuandi {
                    position: absolute;
                    width: 108px;
                    height: 108px;
                    background: #fff250;
                    border-radius: 50%;
                    clip: rect(0, 108px, 108px, 54px);
                }
            }
        }
        .addTranstion{
            transition: transform 12500ms linear;
        }
        .addTranstionDelay{
            transition: transform 12500ms linear 12500ms;
        }
    }
}

.alert {
    text-align: center;
    .title {
        font-size: 20px;
    }
    .msg {
        margin: 10px;
        font-size: 16px;
        text-align: left;
        line-height: 1.5;
    }
    .btn {
        cursor: pointer;
        margin: 10px;
        display: inline-block;
        background-color: rgb(193, 203, 217);
        border-radius: 8px;
        padding: 10px 30px;
        color: #fff;
        font-size: 13px;
    }
}

.model-success {
    font-family: PingFangSC-Semibold;
    font-size: 13px;
    color: #9ea8b5;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.img-success {
    position: absolute;
    height: 150px;
    margin-top: -70px;
    margin-left: -335px;
}

.img-product {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.getResult{
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    background: rgba(0,0,0,0.2);
    p{
        position: absolute;
        top: 48%;
        left: 20px;
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 24px;
    }
}
.wj-messageBox-close{
    position: absolute;
    top: -38px;
    right: 2px;
    width: 26px;
}
