@import "../../assets/scss/rem";
#playRechods{
    top: 0;
    bottom: 0;
    padding-bottom: st(98);
    background: #fff;
    .content{
        top: 0;
        bottom: st(98);
    }
    .prizeRecords{
        padding-left: st(38);
        padding-right: st(26);
        width: 100%;
        height: auto;
        li{
            padding: st(26) 0;
            width: 100%;
            overflow: hidden;
//          border-bottom: 1px solid #d8d8d8;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: -1px;
                left: 0;
                border-bottom: 1px solid #d8d8d8;
                width: 200%;
                height: 200%;
                -webkit-transform: scale(0.5);
                -ms-transform: scale(0.5);
                -o-transform: scale(0.5);
                transform: scale(0.5);
                -webkit-transform-origin: left top;
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                transform-origin: left top;
            }
        }
        .selectThis{
            background: #f4f6f8;
        }
        .left{
            width: st(170);
            height: st(140);
        }
        .left-in{
            position: relative;
            width: st(140);
            height: st(140);
            border-radius: st(20);
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .middle{
            width: st(560);
            height: auto;
            .top{
                width: st(480);
                height: st(62);
                font-size: st(28);
                color: #333;
                font-weight: 600;
            }
            .mp-row{
                width: 100%;
                height: st(24);
                font-size: st(24);
                margin-bottom: st(20);
            }
        }
        .right{
            position: absolute;
            right: 0;
            top: 0;
            width: st(30);
            height: 100%;
            img{
                width: st(18);
            }
        }
    }
    .playRechods-bottom{
        width: 100%;
        height: st(98);
//      border-top: 1px solid #d8d8d8;
        text-align: center;
        line-height: st(98);
        color: #333;
        background: #fff;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-top: 1px solid #d8d8d8;
            width: 200%;
            height: 200%;
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transform-origin: left top;
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            transform-origin: left top;
        }
    }
}
