@import "../../assets/scss/rem";
#rechargeRechords{
    .rechargeRechords-list{
        padding: st(26) st(36) 0;
        width: 100%;
        height: auto;
    }
    .rechargeRechords-item{
        margin-bottom: st(26);
        padding: st(24) 0;
        width: 100%;
        border: st(6) solid #edaf80;
        border-radius: st(20);
        background: #dba171;
        .left,.right{
            padding-right: st(10);
            padding-left: st(10);
            width: 50%;
            p:nth-child(1){
                width: 100%;
                height: st(46);
                font-size: st(28);
            }
        }
        .right p{
            text-align: right;
        }
    }
    .colors0{
        color: rgb(187, 77, 50)1;
    }
    .colors1{
        color: #fcd291;
    }
    .colors2{
        color: #fff;
    }
    .colors3{
        color: rgb(79, 109, 175);
    }
    .colors4{
        color: yellow;
    }
    .colors5{
        color: blue;
    }
    
}
