@import "../../assets/scss/rem";
#buySuccess{
    .defaultStyle{
        width: 100%;
        padding: st(20);
        background: #fff;
    }
    .titile{
        padding: st(20) st(20);
        width: 100%;
        text-align: center;
        font-size: st(40);
        background: #fff;
    }
    .item{
        background: #fff;
        margin: 0 auto st(20);
        width: st(700);
        border: 1px solid #eee;
        .img{
            width: 100%;
            height: st(250);
            background: #ddd;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .pt0{
            padding-top: 0;
        }
    }
    .bottons{
        border-top: 1px solid #eee;
        p{
            width: 50%;
            height: 100%;
            text-align: center;
        }
    }
    .tip1{
        padding-bottom: st(100);
    }
}