@import "../../assets/scss/rem";
.myswiper-wrapper{
    margin: 0 auto;
    width: 100%;
    background: #fff;
}
#rechargeSwiper{
    width: 100%;
    height: 28px;
    text-align: center;
    font-size: st(26);
    .swiper-wrapper{
        margin-top: st(4);
        .swiper-slide{
            padding: st(8);
        }
    }
}