@import "../../assets/scss/rem";
.myswiper-wrapper{
    margin: 0 auto;
    padding: st(6);
    width: st(688);
    height: st(68);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
#rechargeSwiper{
    width: 100%;
    height: st(56);
    text-align: center;
    line-height: st(56);
    font-size: st(26);
    .swiper-wrapper{
        margin-top: st(4);
    }
}