@import "../../assets/scss/rem";
#my{
    .goHome{
        position: absolute;
        left: st(10);
        top: st(12);
        width: st(150);
        height: st(62);
        background: url(../../assets/img/my/bag_back.png) no-repeat center;
        background-size: contain;
    }
    .my-top{
        margin-bottom: st(22);
        padding-top: st(94);
        width: 100%;
        height: st(278);
        background: url(../../assets/img/my/bag_title.png) no-repeat center top;
        background-size: st(750) st(278);
        .top-left{
            width: st(304);
            height: st(130);
            text-align: right;
            img{
                width: st(130);
                height: st(130);
                border-radius: 50%;
                border: 2px solid #e15066;
            }
        }
        .top-right{
            padding-left: st(12);
            width: st(446);
            height: st(130);
            .first{
                width: 100%;
                height: st(54);
                color: #fff;
                font-size: st(32);
                line-height: st(54);
                margin-bottom: st(10);
            }
            .second{
                height: st(76);
                .balance{
                    position: relative;
                    display: inline-block;
                    width: auto;
                    height: st(44);
                    padding-left: st(16);
                    padding-right: st(32);
                    border-radius: st(20);
                    background: #e15066;
                    color: #ffe400;
                    font-size: st(28);
                    line-height: st(44);
                }
                .goRecharge{
                    position: absolute;
                    right: st(-88);
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: inline-block;
                    width: st(108);
                    height: st(58);
                    background: url(../../assets/img/my/bag_btn.png) no-repeat center;
                    background-size: contain;
                    text-align: center;
                    line-height: st(56);
                    color: #fff;
                }
            }
        }
    }
    .main{
        padding-top: st(40);
        padding-bottom: st(34);
        background: #ffeaec;
    }
    .border-wrapper{
        border: st(6) solid #ffc0d2;
        border-radius: st(32);
    }
    .main1{
        margin: 0 auto;
        margin-bottom: st(22);
        width: st(700);
        position: relative;
        .left{
            position: relative;
            width: st(170);
            height: st(118);
            text-align: right;
            img{
                width: st(118);
                height: st(118);
            }
            .dian{
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: st(22);
                height: st(22);
                border: 2px solid #fff;
                background: #ff5b80;
                border-radius: 50%;
            }
        }
        .right{
            padding-top: st(24);
            padding-left: st(30);
            width: st(460);
            .line1{
                width: 100%;
                height: st(54);
                font-size: st(32);
                font-weight: 600;
                color: #444;
            }
            .line2{
                width: 100%;
                height: st(40);
                color: #ff5b80;
                font-size: st(24);
            }
        }
        .togo{
            position: absolute;
            right: st(40);
            top: 0;
            bottom: 0;
            margin: auto;
            width: st(18);
            height: st(18);
            i{
                color: #ff5b80;
            }
        }
    }
    .main2{
        width: st(220);
        img{
            width: st(118);
            height: st(118);
        }
        p{
            font-size: st(24);
            font-weight: 600;
            color: #444;
        }
    }
    .line-border{
        margin: 0 auto st(22);
        width: st(700);
    }
    .server-alert-in{
        padding-top: st(10);
        width: 100%;
        height: st(266);
        div:nth-child(1){
            margin-bottom: st(38);
        }
    }
    .server-alert-in-item{
        width: st(484);
        height: st(90);
        span{
            color: #7e8b9e;
            font-size: st(28);
        }
        .rexian{
            color: #39c8fa;
        }
    }
}