#account{
    .content{
        top: 0;
        bottom: 47px;
        #upbanner{
            display: none;
        }
        .account-top{
            height: 100px;
            width: 100%;
            background: #00a8ff;
            color: #fff;
            .account-userhead{
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 10px solid #f2f2f2;
                img{
                    width: 61px;
                    height: 61px;
                    border-radius: 50%;
                }
                .userName{
                    width: 60%;
                    height: 40px;
                    padding: 5px 0 15px;
                    font-size: 16px;
                }
            }
            .account-ammount{
                height: 25px;
                width: 170px;
                margin: 0 auto;
                line-height: 25px;
                border-radius: 12px;
                background: #d81665;
                p{
                    width: 115px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                }
                button{
                    display: block;
                    height: 19px;
                    margin-top: 3px;
                    font-size: 12px;
                    width: 50px;
                    border-radius: 10px;
                    background: #ffce00;
                    border: none;
                    color: #aa6017;
                }
            }
        }
        .account-topthree{
            width: 100%;
            height: 92px;
            border-bottom: 10px solid #f2f2f2;
            .account-topthree-item{
                width: 33%;
                height: 100%;
                .iconfont{
                    padding: 10px 0 5px;
                    font-size: 35px;
                    color: #f93069;
                    font-weight: 600px;
                }
                p{
                    width: 100%;
                    height: 34%;
                    text-align: center;
                    font-size: 12px;
                    color: #666666;
                }
            }
            a:nth-child(2){
                border-left: 1px solid #f2f2f2;
                border-right: 1px solid #f2f2f2;
            }
        }
        .account-menubar{
            border-bottom: 10px solid #f2f2f2;
        }
    }
    .in{
        font-size: 12px;
    }
}