@import "../../assets/scss/rem";
#task{
    .task-top{
        margin: st(26) auto;
        padding-top: st(6);
        width: st(698);
        height: st(296);
        background: url(../../assets/img/task/task_bg.png) no-repeat center;
        background-size: contain;
        .active-degree{
            padding-left: st(36);
            width: 100%;
            height: st(78);
            line-height: st(86);
            font-size: st(28);
            color: #fff;
            font-weight: 600;
        }
        .plan{
            position: relative;
            padding-top: st(108);
            width: 100%;
            height: st(204);
        }
        .plan-line{
            margin: 0 auto;
            padding: st(4);
            border-radius: st(26);
            width: st(624);
            height: st(26);
            border: st(4) solid #fc89a5;
            background: #e84b5e;
        }
        .plan-in{
            height: 100%;
            background: #ffe300;
            border-radius: st(12);
        }
        .plan-box{
            position: absolute;
            left: 0;
            top: 0;
            width: st(600);
            height: 100%;
        }
        .plan-box-item{
            position: absolute;
            top: 0;
            padding-top: st(42);
            width: st(80);
            height: 100%;
            p{
                width: 100%;
                height: st(36);
                font-size: st(28);
                color: #ffdfc0;
                text-align: center;
            }
            img{
                display: block;
                width: st(80);
                height: st(80);
            }
        }
        .tasks{
            margin: st(28) auto 0;
            padding-left: st(16);
            padding-right: st(16);
            width: st(698);
            background: #ffeaec;
            border-radius: st(28);
            .row{
                height: st(82);
                text-align: center;
                overflow: hidden;
            }
            .coll{
                height: 100%;
                float: left;
                line-height: st(82);
                text-align: center;
                color: #ba5050;
                font-size: st(28);
                font-weight: 600;
            }
            .coll1{
                width: st(310);
            }
            .coll2{
                width: st(160);
            }
            .coll3{
                width: st(194);
            }
            .complate{
                width: st(46);
                height: st(46);
            }
            .goTask{
                display: inline-block;
                width: st(108);
                height: st(58);
                background: url(../../assets/img/task/bag_btn.png) no-repeat center;
                background-size: 100% 100%;
                text-align: center;
                line-height: st(58);
                color: #fff;
            }
            .head{
                height: st(66);
                border-bottom: 1px solid #fccbcc;
                .coll{
                    line-height: st(66);
                    color: #ff7b82;
                }
            }
        }
    }
}