@import "../../assets/scss/rem";
#rechargeNew{
    .rechargeNew-banner{
        width: st(750);
        img{
            width: 100%;
            vertical-align: bottom;
        }
    }
    .myswiper-wrapper{
        margin: 0 auto;
        padding: st(6);
        width: st(688);
        height: st(68);
        background: url(../../assets/img/spring/rechargeNew/activity_recharge_frame.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    #rechargeSwiper{
        width: 100%;
        height: st(56);
        text-align: center;
        line-height: st(56);
        color: #ffe810;
        font-size: st(26);
        .swiper-wrapper{
            margin-top: st(4);
        }
    }
    .recharge-list{
        margin: st(16) auto 0;
        width: st(688);
    }
    .recharge-item{
        float: left;
        margin-right: st(12);
        margin-bottom: st(16);
        width: st(338);
        height: st(232);
        background: url(../../assets/img/spring/rechargeNew/activity_recharge_option1.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        p{
            width: 100%;
            text-align: center;
        }
        .one{
            height: st(120);
            line-height: st(132);
            font-size: st(34);
            font-weight: 600;
        }
        .two{
            height: st(60);
            font-size: st(24);
            color: #7e8b9e;
        }
        .three{
            font-size: st(28);
            color: #fff;
            font-weight: 600;
        }
    }
    .mr0{
        margin-right: 0;
    }
    .recharge-item-select{
        background: url(../../assets/img/spring/rechargeNew/activity_recharge_option2.png) no-repeat center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        .three{
            color: #ff3f31;
        }
    }
    .red-item{
        color: #ff3f31;
    }
    .rule{
        position: relative;
        width: st(750);
        .rule-in{
            margin: st(42) auto st(150);
            width: st(712);
            height: st(312);
            border: 1px solid #8e0000;
            background: #e72529;
            color: #ffabab;
        }
        .rule-tit{
            width: st(250);
            height: st(82);
            text-indent: st(34);
            line-height: st(82);
            font-size: st(32);
            img{
                width: 100%;
            }
        }
        ol{
            padding-left: st(58);
            padding-right: st(36);
            font-size: st(24);
            line-height: st(44);
            list-style-type: decimal;
            list-style-position: outside;
        }
    }
    .bottom-btns{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: url(../../assets/img/spring/rechargeNew/activity_btn_bg.png) repeat-x left bottom;
        -webkit-background-size: st(8) st(140);
        background-size: st(8) st(140);
        height: st(140);
        padding: 0 st(44);
        .btn{
            width: st(322);
            height: st(90);
            border: none;
            color: #fff;
            font-weight: 600;
            font-size: st(26);
            img{
                width: st(48);
                margin-right: st(16);
            }
        }
        .wx-btn{
            background: url(../../assets/img/recharge/recharge_btn_green.png) no-repeat center;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }
        .ali-btn{
            background: url(../../assets/img/recharge/recharge_btn_blue.png) no-repeat center;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }
    }
}
